<div class="app_content with_sidebar">
	<ul class="app_sidebar">
		<li class="has_button">
			<a href="#" class="white button" {{action 'newCTA'}}>
				Create New {{prettyName}}
			</a>
		</li>
		{{#each cta in ctas itemController="dashboard/apps/cta"}}
			<li>
				<a href="#" {{action 'editCTA' cta.model}} {{bind-attr class="cta.active:active"}}>
					{{cta.model.name}}
				</a>
			</li>
		{{/each}}
	</ul>
	
	{{#if currentCTA}}
		
		<form {{action 'saveCTA' on='submit'}}>
		
			{{#if currentCTA.isActive}}
				<p class="notice remetric_notice">
					This {{prettyName}} is <strong>active</strong> and will be shown to visitors.
					If you'd like to de-activated it, <a href="#" {{action 'activateCTA'}} class="cancel">click here</a>.
				</p>
			{{else}}
				<p class="warning remetric_notice">
					This {{prettyName}} is <strong>not active</strong> and won't be shown to visitors until it's activated.
					<a href="#" {{action 'activateCTA'}} class="cancel">Click here to activate it.</a>
				</p>
			{{/if}}
			
			{{#ivy-tabs selected-index=selectedTab}}
			  {{#ivy-tab-list}}
					<div class="remetric_tabs">
				    {{#ivy-tab}}<a>Setup</a>{{/ivy-tab}}
							
						{{#unless currentCTA.hasSocial}}
					    {{#ivy-tab}}<a>Appearance</a>{{/ivy-tab}}
						{{/unless}}
						
				    {{#ivy-tab}}<a>Visibility</a>{{/ivy-tab}}
							
						{{#if currentCTA.hasSocial}}
							{{#ivy-tab}}<a>Social</a>{{/ivy-tab}}
						{{else}}
					    {{#ivy-tab}}<a>Actions</a>{{/ivy-tab}}
						{{/if}}
						
						<!-- {{!ivy-tab}}<a>Submissions</a>{{!ivy-tab}} -->
						<div class="clear"></div>
					</div>
			  {{/ivy-tab-list}}

			  {{#ivy-tab-panel}}
					<div class="remetric_tab_panel" data-title="Setup">
						<div class="field">
							<label for="Placement">Name (for your eyes only)</label>
							{{input type="text" value=currentCTA.name}}
						</div>
						
						<div class="field">
							<label for="placement">Where should this {{prettyName}} be located?</label>
							{{view 'select' id='placement' content=placements optionValuePath='content.value' optionLabelPath='content.label' valueBinding='currentCTA.placementString'}}
						</div>
						
						{{#unless currentCTA.hasSocial}}
							
							{{#if requiresTextHeadline}}
								<div class="field">
									<label for="headline">Headline</label>
									{{input type="text" id="headline" value=currentCTA.headline}}
								</div>
							{{else}}
								<div class="field is_for_checkbox">
									{{input type="checkbox" id="image_use" checked=currentCTA.image.use}}
									<label for="image_use">Use image for headline</label>
								</div>
						
								{{#if currentCTA.image.use}}
									<div class="field">
										<label for="image_url">URL of Headline Image</label>
										{{input type="text" id="image_url" value=currentCTA.image.url}}
									</div>
								{{else}}
									<div class="field">
										<label for="headline">Headline</label>
										{{input type="text" id="headline" value=currentCTA.headline}}
									</div>
								{{/if}}
							{{/if}}
						
							<div class="field">
								<label for="subheadline">Subheadline</label>
								{{input type="text" id="subheadline" value=currentCTA.subHeadline}}
							</div>
							<div class="field">
								<label for="button_text">Button Text</label>
								{{input type="text" id="button_text" value=currentCTA.button.text}}
							</div>
							<div class="field">
								<label for="button_class">Button Class</label>
								{{input type="text" id="button_class" value=currentCTA.button.class}}
							</div>
						
							<div class="field">
								<table class="table with_cell_padding">
									<thead>
										<tr>
											<th class="align_center">Required</th>
											<th class="align_center">Save To Profile</th>
											<th>Type</th>
											<th>Label</th>
											<th>Info Field</th>
											<th class="align_center"></th>
										</tr>
									</thead>
									<tbody>
										{{#each field in currentCTA.fields}}
											<tr>
												<td class="align_center">{{input type="checkbox" checked=field.isRequired}}</td>
												<td class="align_center">{{input type="checkbox" checked=field.isForProfile}}</td>
												<td>{{view 'select' content=fieldTypes optionValuePath='content.value' optionLabelPath='content.label' valueBinding='field.type'}}</td>
												<td>{{input type="text" value=field.label}}</td>
												<td>{{input type="text" value=field.permalink}}</td>
												<td class="align_center"><a href="#" {{action 'deleteField' field}}>&times;</a></td>
											</tr>
										{{/each}}
									</tbody>
								</table>
						
								<a href="#" class="small white button" {{action 'addField'}}>Add Field</a>
							</div>
							
						{{/unless}}
						
					</div>
			  {{/ivy-tab-panel}}

				{{#unless currentCTA.hasSocial}}
				  {{#ivy-tab-panel}}
						<div class="remetric_tab_panel" data-title="Appearance">
							<div class="field is_for_checkbox">
								{{input type="checkbox" id="is_closable" checked=currentCTA.isClosable}}
								<label for="is_closable">Is closable</label>
							</div>
							<div class="field is_for_checkbox">
								{{input type="checkbox" id="is_minimizable" checked=currentCTA.isMinimizable}}
								<label for="is_minimizable">Is minimizable</label>
							</div>
							<div class="field is_for_checkbox">
								{{input type="checkbox" id="is_minimized" checked=currentCTA.isMinimized}}
								<label for="is_minimized">Is minimized when loaded</label>
							</div>
							<div class="field is_for_checkbox">
								{{input type="checkbox" id="is_sticky" checked=currentCTA.isSticky}}
								<label for="is_sticky">Scroll with page</label>
							</div>
							<div class="field is_for_checkbox">
								{{input type="checkbox" id="disable_css" checked=currentCTA.disableCSS}}
								<label for="disable_css">Disable CSS</label>
							</div>
						</div>
				  {{/ivy-tab-panel}}
				{{/unless}}

			  {{#ivy-tab-panel}}
					<div class="remetric_tab_panel" data-title="Visibility">
						<div class="field is_for_checkbox">
							{{input type="checkbox" id="hide_for_mobile" checked=currentCTA.hideForMobile}}
							<label for="hide_for_mobile">Hide for Mobile Phones</label>
						</div>
						<div class="field is_for_checkbox">
							{{input type="checkbox" id="hide_for_tablet" checked=currentCTA.hideForTablet}}
							<label for="hide_for_tablet">Hide for Tablets</label>
						</div>
						<div class="field is_for_checkbox">
							{{input type="checkbox" id="hide_for_desktop" checked=currentCTA.hideForDesktop}}
							<label for="hide_for_desktop">Hide for Desktops and Laptops</label>
						</div>
						<!-- <div class="field">
							<label for="pages_to_show">Which pages should <strong>show</strong> this {{prettyName}}?</label>
							{{!input type="text" id="pages_to_show" value=currentCTA.pagesToShow}}
						</div>
						<div class="field">
							<label for="pages_to_hide">Which pages should <strong>hide</strong> this {{prettyName}}?</label>
							{{!input type="text" id="pages_to_hide" value=currentCTA.pagesToHide}}
						</div> -->
						<div class="field">
							<label for="spark_event">When should this {{prettyName}} appear?</label>
							{{view 'select' id='spark_event' content=sparkEvents optionValuePath='content.value' optionLabelPath='content.label' valueBinding='currentCTA.spark.event'}}
						</div>
						
						{{#if isSparkDelayed}}
							<div class="field">
								<label for="spark_delay">How long after {{currentCTA.spark.event}} should this {{prettyName}} be displayed?</label>
								{{view 'select' id='spark_delay' content=sparkDelays optionValuePath='content.value' optionLabelPath='content.label' valueBinding='currentCTA.spark.delay'}}
							</div>
						{{/if}}
						
						{{#if isSparkScrollable}}
							<div class="field">
								<label for="spark_scroll">How much of the page should be scrolled before showing (eg. 500px or 50%)?</label>
								{{input type="text" id="spark_scroll" value=currentCTA.spark.scroll}}
							</div>
						{{/if}}
						
						<div class="field">
							<label for="trigger how often">How often do visitors see this {{prettyName}}?</label>
							{{view 'select' content=sparkRecurrances optionValuePath='content.value' optionLabelPath='content.label' valueBinding='currentCTA.spark.recurrance'}}
						</div>

						<!-- <div class="field is_for_checkbox">
							{{!input type="checkbox" id="spark_sole" checked=currentCTA.spark.sole}}
							<label for="spark_sole">Hide when other {{!prettyName}}s are present?</label>
						</div> -->
					</div>
			  {{/ivy-tab-panel}}

			  {{#if currentCTA.hasSocial}}
				  {{#ivy-tab-panel}}
						<div class="remetric_tab_panel" data-title="Social">
							{{#each social in sortedSocialNetworks}}
								<div class="field is_for_checkbox">
									{{view 'social-checkbox' id=social.id cta=currentCTA social=social}}
									<label for="{{social.id}}">{{social.name}}</label>
								</div>
							{{/each}}
						</div>
				  {{/ivy-tab-panel}}
				{{else}}
				  {{#ivy-tab-panel}}
						<div class="remetric_tab_panel" data-title="Actions">
							<div class="field">
								<label for="thank_you_text">Thank-You Text</label>
								{{textarea id="thank_you_text" value=currentCTA.thankYou.text}}
							</div>
							
							{{#if hasGiveAwayApp}}
								<div class="field is_for_checkbox">
									{{input type="checkbox" id="giveaway_use" checked=currentCTA.giveAway.use}}
									<label for="giveaway_use">Has a Digital GiveAway</label>
								</div>
							{{/if}}
							
							{{#if currentCTA.giveAway.use}}
								
								<div class="field">
									<label for="giveaway_url">What is the URL of the digital good you're giving away?</label>
									{{input type="text" for="giveaway_url" value=currentCTA.giveAway.url}}
								</div>
							
								<div class="field">
									<label for="giveaway_text">What should the Giveaway button say?</label>
									{{input type="text" for="giveaway_text" value=currentCTA.giveAway.text}}
								</div>
								
							{{else}}
								
								<div class="field is_for_checkbox">
									{{input type="checkbox" id="thank_you_is_redirect" checked=currentCTA.thankYou.isRedirect}}
									<label for="thank_you_is_redirect">Redirect to custom URL upon submission</label>
								</div>
						
								{{#if currentCTA.thankYou.isRedirect}}
									<div class="field">
										<label for="thank_you_url">Thank-You URL</label>
										{{input type="text" for="thank_you_url" value=currentCTA.thankYou.url}}
									</div>
								{{/if}}
								
							{{/if}}
						
							<!-- <div class="field">
								<label for="Notification Emails">Notification Emails</label>
							</div> -->
						</div>
				  {{/ivy-tab-panel}}
				{{/if}}

			  <!-- {{!ivy-tab-panel}}
					<div class="remetric_tab_panel" data-title="Submissions">
						Submissions
						{{#link-to 'dashboard.apps.store.app' 'topbar' class='remetric_help'}}?{{/link-to}}
					</div>
				{{!ivy-tab-panel}} -->
			{{/ivy-tabs}}
			
			<div class="app_actions">
				<a href="#" {{action 'deleteCTA'}} class="cancel">Delete</a>
				<a href="#" {{action 'duplicateCTA'}} class="cancel">Duplicate</a>
				
				{{#if currentCTA.isDirty}}
					<a href="#" {{action 'resetCTA'}} class="cancel">Discard Changes</a>
				{{/if}}
				
				<button {{bind-attr class=":button currentCTA.isDirty:clickable"}}>
					Save Changes
				</button>
			</div>
		
		</form>
		
	{{else}}
	
		<div class="field">
			<p>Choose a {{prettyName}} to get started.</p>
		</div>
	
	{{/if}}
	

</div>