<div class="app_content with_sidebar">
	<ul class="app_sidebar">
		<li class="has_button">
			<a href="#" class="white button" {{action 'newCTA'}}>
				Create New {{prettyName}}
			</a>
		</li>
		{{#each cta in ctas itemController="dashboard/apps/cta"}}
			<li>
				<a href="#" {{action 'editCTA' cta.model}} {{bind-attr class="cta.active:active"}}>
					{{cta.model.name}}
				</a>
			</li>
		{{/each}}
	</ul>
	
	{{#if currentCTA}}
		
		<form {{action 'saveCTA' on='submit'}}>
		
			{{#if currentCTA.isActive}}
				<p class="notice remetric_notice">
					This {{prettyName}} is <strong>active</strong> and will be shown to visitors.
					<a href="#" {{action 'activateCTA'}} class="cancel">Click here to de-activate it.</a>
				</p>
			{{else}}
				<p class="warning remetric_notice">
					This {{prettyName}} is <strong>not active</strong> and won't be shown to visitors until it's activated.
					<a href="#" {{action 'activateCTA'}} class="cancel">Click here to activate it.</a>
				</p>
			{{/if}}
			
			{{#dc-tabs selected-index=selectedTab}}
			  {{#dc-tab-list}}
					<div class="remetric_tabs">
				    {{#dc-tab}}<a>Setup</a>{{/dc-tab}}
				    {{#dc-tab}}<a>Appearance</a>{{/dc-tab}}
				    {{#dc-tab}}<a>Visibility</a>{{/dc-tab}}
				    {{#dc-tab}}<a>Actions</a>{{/dc-tab}}
				    {{#dc-tab}}<a>Integrations</a>{{/dc-tab}}
				    {{#dc-tab}}<a>Submissions</a>{{/dc-tab}}
						<div class="clear"></div>
					</div>
			  {{/dc-tab-list}}

			  {{#dc-tab-panel}}
					<div class="remetric_tab_panel" data-title="Setup">
						{{input value=currentCTA.name}}
						[Placement]
						[Disable]
						[Headline]
						[Fields]
						[Button Text]
						[Button class]
					</div>
			  {{/dc-tab-panel}}

			  {{#dc-tab-panel}}
					<div class="remetric_tab_panel" data-title="Appearance">
						[Show close]
						[Don't scroll with page]
						[disable CSS]
					</div>
			  {{/dc-tab-panel}}

			  {{#dc-tab-panel}}
					<div class="remetric_tab_panel" data-title="Visibility">
						[hide for mobile]
						[hide for tablets]
						[hide for desktop]
						[pages to show]
						[pages to hide]
						[trigger event]
						[trigger how often]
						[trigger delay]
					</div>
			  {{/dc-tab-panel}}

			  {{#dc-tab-panel}}
					<div class="remetric_tab_panel" data-title="Actions">
						[Thank you text]
						[Thank you URL]
						[Notification Emails]
					</div>
			  {{/dc-tab-panel}}

			  {{#dc-tab-panel}}
					<div class="remetric_tab_panel" data-title="Integrations">
						[Mailchimp]
						[Zendesk]
						[Aweber]
					</div>
			  {{/dc-tab-panel}}

			  {{#dc-tab-panel}}
					<div class="remetric_tab_panel" data-title="Submissions">
						Submissions
						{{#link-to 'dashboard.apps.store.app' 'topbar' class='remetric_help'}}?{{/link-to}}
					</div>
			  {{/dc-tab-panel}}
			{{/dc-tabs}}
			
			<div class="app_actions">
				<a href="#" {{action 'deleteCTA'}} class="cancel">Delete</a>
				<a href="#" {{action 'duplicateCTA'}} class="cancel">Duplicate</a>
				
				{{#if currentCTA.isDirty}}
					<a href="#" {{action 'resetCTA'}} class="cancel">Discard Changes</a>
				{{/if}}
				
				<button class="button clickable">
					Save {{prettyName}}
				</button>
			</div>
		
		</form>
		
	{{else}}
	
		<div class="field">
			<p>Choose a {{prettyName}} to get started.</p>
		</div>
	
	{{/if}}
	

</div>