{{#unless isClosed}}
	<div class="{{cta.publicClass}}">
		<div class="cta_container">
		
			<div class="cta_header">
				{{#if isMinimized}}
					<a href="#" class="cta_widget_open" {{action 'openCTA'}}>&plus;</a>
				{{else}}
					{{#if cta.isClosable}}
						<a href="#" class="cta_widget_close" {{action 'closeCTA'}}>&times;</a>
					{{else}}
						<a href="#" class="cta_widget_minimize" {{action 'minimizeCTA'}}>&minus;</a>						
					{{/if}}
				{{/if}}
	
				{{#if cta.headline}}
					<h3>{{ cta.headline }}</h3>
				{{/if}}
			</div>
	
			{{#unless isMinimized}}
				<div class="cta_content">
					{{#if cta.subHeadline }}
						<h4>{{ cta.subHeadline }}</h4>
					{{/if}}
			
					<form {{action 'submitCTA' cta on='submit'}}>
				
						{{#if hasSubmitted}}
							<p>{{cta.thankYou.text}}</p>
						{{else}}
							{{#each field in cta.fields}}
								<div class="cta_field">
									<label for="cta_{{cta.id}}_{{field.permalink}}">{{field.label}}</label>
									<input type="text" id="cta_{{cta.id}}_{{field.permalink}}" name="{{field.publicAttr}}" placeholder="{{field.label}}" {{bind-attr required=cta.isRequired}}>
								</div>
							{{/each}}

							<div class="cta_action_field">
								<button type="submit" class="button btn {{cta.button.class}}">{{ cta.button.text }}</button>
							</div>
						{{/if}}
					</form>

				</div>
			{{/unless}}
		
		</div>
	</div>
{{/unless}}