<div class="modal">
	<div class="modal_overlay">
		<div {{bind-attr class=":modal_yield logoTitle:has_logo_title"}} style="max-width: {{maxWidth}};">
			{{#if closable}}
				<a href="#" class="modal_close" {{action 'closeModal'}}>x</a>
			{{/if}}
			
			{{#if logoTitle}}
				<div class="logo_title">
					<img src="{{session.config.assetsBaseURL}}/assets/imgs/logo@4x.png">
				</div>
			{{else}}
				{{#if title}}
					<h1 class="modal_title">
						{{title}}
					</h1>
				{{/if}}
			{{/if}}
			
			{{yield}}
		</div>
	</div>
</div>