<div class="app_help">
	<img {{bind-attr src=icon}} class="help_icon">
	
	<div class="help_details">
		<a href="#" {{action 'back'}} class="back_link">
			&larr; &nbsp; Go Back
		</a>

		<h1 class="help_name">{{name}}</h1>

		<p class="help_description">{{description}}</p>

		{{install-button app=. organization=session.organization}}
		
		{{partial help}}
	</div>
</div>