<div class="app_help">
	<img src={{model.icon}} class="help_icon">
	
	<div class="help_details">
		<h1 class="help_name">{{model.name}}</h1>

		<p class="help_description">{{model.description}}</p>

		{{install-button app=model organization=session.organization}}
		
		{{partial model.help}}
	</div>
</div>