<div {{bind-attr class=":topbar session.currentApp:app_topbar"}} style="background-color: {{session.currentApp.colour}}; border-color: {{session.currentApp.colour}}; ">

	{{#if session.currentApp}}
		{{#link-to 'dashboard.apps' class='back_to_apps'}}
			&larr; Back to Apps
		{{/link-to}}
		<h1>{{session.currentApp.name}}</h1>
	{{else}}
		<ul class="nav right_nav">
			<li>
				{{#link-to "dashboard.account" class="profile"}}
					{{gravatar-image email=session.user.email class="avatar"}}
					<p class="wrapper">
						<span class="name">{{session.user.name}}</span>
						<span class="company">{{session.organization.name}}</span>
					</p>
				{{/link-to}}
			</li>
			<li>
				{{#link-to "application" class="close_remetric"}}&times;{{/link-to}}
			</li>
		</ul>
		
		{{#link-to "dashboard" class="logo"}}
			<img src="/assets/imgs/logo.png">
		{{/link-to}}

		<ul class="nav left_nav">
			<li>{{#link-to "dashboard.apps"}}Apps{{/link-to}}</li>
			<li>{{#link-to "dashboard.people"}}People{{/link-to}}</li>
			<li>{{#link-to "dashboard.activity"}}Activity{{/link-to}}</li>
		</ul>
	{{/if}}
</div>