<form>

	<div class="field">
		<label for="serial_number">Serial Number</label>
		<input type="text" id="serial_number" readonly="readonly" {{bind-attr value=session.organization_id}}>
	</div>
	
	<div class="field">
		<label for="organization_name">Organization Name</label>
		{{input type="text" id="organization_name" value=session.organization.name}}
	</div>

	<div class="field">
		<label for="name">Your Name</label>
		{{input type="text" id="name" value=session.user.name}}
	</div>

	<div class="field">
		<label for="email">Email Address</label>
		{{input type="text" id="email" value=session.user.email}}
	</div>

	<div class="field">
		<button class="white button small" {{action 'toggleChangingPassword'}}>
			{{#if isChangingPassword}}Don't {{/if}}Change Password
		</button>
	</div>
	
	{{#if isChangingPassword}}
		<div class="field">
			<label for="password">New Password</label>
			{{input type="password" id="password" value=password}}
		</div>

		<div class="field">
			<label for="confirm_password">Confirm Your New Password</label>
			{{input type="password" id="confirm_password" value=confirm_password}}
		</div>
	{{/if}}

	<div class="app_actions">
		{{#if session.organization.isDirty}}
			<a href="#" {{action 'resetProfile'}} class="cancel">Discard Changes</a>
		{{/if}}
	
		{{#unless session.organization.isDirty}}
			{{#if session.user.isDirty}}
				<a href="#" {{action 'resetProfile'}} class="cancel">Discard Changes</a>
			{{/if}}
		{{/unless}}
	
		<button type="submit" class="button clickable" {{action 'saveProfile'}}>
			Save Profile
		</button>
	</div>
	
</form>